<app-parent></app-parent>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="color">{{ appName }}</h1>
      <!-- event binding  -->
      <!-- <input (input)="showInput($event)" class="form-control" /> -->
      <!-- Two way data binding -->
      <input [(ngModel)]="appName" class="form-control" />
      <br />
      <!-- property binding -->
      <button
        class="btn btn-primary col-md-4"
        [disabled]="!enableButton"
        (click)="onClick()"
      >
        Click Me
      </button>

      {{ enableButton }}
    </div>
  </div>
</div>

<hr>
<br>
<app-directives></app-directives>


